/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #216778;
}

.heroBanner2{
  padding: 0.5rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: #216778;
}

[data-theme='dark'] .heroBanner {
  color: #ffdfae;
}

[data-theme='dark'] .heroBanner2 {
  color: #fffeae;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .heroBanner2{
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutBanner {
  padding: 2rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  --ifm-color-primary: #1e5d6c;
  --ifm-color-primary-dark: #1b5461;
  --ifm-color-primary-darker: #194f5c;
  --ifm-color-primary-darkest: #15414c;
  --ifm-color-primary-light: #216677;
  --ifm-color-primary-lighter: #226b7c;
  --ifm-color-primary-lightest: #27798c;
}

.tecstim {
color: rgba(255, 255, 255, 0.31);
}